/* App.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(250, 248, 248);
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.language-icon{
  width: 30px;
  height: 30px;
  padding: 5px;
}

/* Header styles */
.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #4a90e2; /* Pastel blue */
  text-align: center;
}

/* Loader styles */
.loader {
  border: 4px solid #282c34; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Main content styles */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(30% - 20px);
  transition: transform 0.2s;
  text-align: left;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  margin-top: 0;
  color: #50b6a5; /* Pastel green */
  text-align: center;
}

.card p, .card ul {
  text-align: justify;
}

.card ul {
  padding-left: 20px;
}

.chart-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.chart-card:hover {
  transform: scale(1.02);
}

.chart-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.chart-container {
  width: 100%; /* Adjust width as needed */
  text-align: center;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 10px; /* Add margin bottom to separate title from chart */
}


.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .chart-row {
    flex-direction: column; /* Stack charts vertically on smaller screens */
  }

  .chart-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .card {
    width: 100%; /* Display project cards in a single column */
  }
}
