/* App.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #4a90e2; /* Pastel blue */
  text-align: center;
}

/* Loader styles */
.loader {
  border: 4px solid #282c34; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Main content styles */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  transition: transform 0.2s;
  text-align: left;
}

.project:hover {
  transform: scale(1.02);
}

.project h2 {
  margin-top: 0;
  color: #50b6a5; /* Pastel green */
  text-align: center;
}

.project p, .project ul {
  text-align: justify;
}

.project ul {
  padding-left: 20px;
}

.chart-container {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.chart-container h2 {
  text-align: center;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .project {
    width: 100%;
  }
}
